//- a(href="#openModal") Открыть окно
//- .popup(id="openModal")
//-     .popup__dialog
//-         .popup__content
//-             .popup__header Popup!
extends ../modal/index.pug
include ../input/index.pug
block content
    .file
        span.file__text Загрузите файл
        a(href="file:///" class="file__link") Выбрать файл на компьютере
        +button(undefined , "file__btn") Поменять