import "../../components/index";
import getImageUrl from "../../utils/getImg.js"

export default `
<header class="header">
        <div class="header__logo">
            <img src=${getImageUrl("logo.png")} alt="салам логотип" />
        </div>
        <div class="header__content">
             {{>input placeholder="Поиск" class="header__input" type="password" }}
              {{#>btn href="/profile" class="link header__btn"}}
                Профиль
            {{/btn}}
            <div class="header__avatar">
                <img src=${getImageUrl("ava.jpg")} alt="аватарка юзера" width="57">
            </div>
        </div>
</header>

`