.default {
  .button-mixin();
}
.primary {
  .button-mixin("primary");
}
.link {
  .button-mixin("link");
  &:hover {
    transition: all 0.3s ease;
    background: @gradient-purple;
    color: #fff;
  }
}

.icon {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}
