@import "../fonts/index.less";
@import "../components/index.less";
@import "./theme/theme.less";
@import "../pages/index.less";
@import "./mixins/mixins.less";

.tooltip {
  display: none;
  padding: 5px;
  border: 1px solid black;
}

.tooltip.tooltip_active {
  display: block;
  position: absolute;
}

.left_bottom {
  position: fixed;
  bottom: 5px;
  left: 0;
}

li:active,
li:focus,
a:active,
a:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
}

button {
  border: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

form {
  margin: 0;
}
html,
body {
  font-family: @font-family;
  margin: 0;
  padding: 0;
  font-size: @font-size-base;
  height: 100% !important;
  overflow: hidden;
}

body {
  background-color: @bg;
}
