extends ../modal/index.pug
include ../input/index.pug
block content
    .registration
        span.registration__title Регистрация аккаунта
        +input("Email", "text", "Email")
        +input("Логин", "text", "Логин")
        +input("Имя", "text", "Имя")
        +input("Телефон", "tel", "Телефон")
        +input("Пароль", "password", "Пароль")
        +input("Повторите пароль", "password", "Повторите пароль")
        +button("primary", "registration__btn registration__btn_login", true) Зарегистрироваться
        .registration__footer
            span.registration__text Нет аккунта?
            +button("link", "registration__btn registration__btn_create") Создать