import Handlebars from "handlebars";
import "../../components/index";
import "./components/loadFileModal/index.tmpl"
import  loadFileModal from "./components/loadFileModal/index.tmpl"
import  changePassModal from "./components/changePassModal/index.tmpl"
import getImageUrl from "../../utils/getImg"

const loadFileModalCompiled = Handlebars.compile(`
{{#> popup class="loadFile"}}
{{> loadFileModal}}
{{/popup}}
`);

const changePassModalCompiled = Handlebars.compile(`
{{#> popup class="changePass"}}
{{> changePassModal}}
{{/popup}}
`);


const loadFileTmp = loadFileModalCompiled();
const changePassTmp = changePassModalCompiled();
    
export default `
{{#> modal}}
<div class="profile">
    <div class="profile__avatar">
        <img src=${getImageUrl("ava.jpg")} alt="user avatar", width="130" class="profile__avatar-img"/>
        <span class="profile__avatar-text">
            Изменить фото
        </span>
    </div>
    <span class="profile__title">
        {{@root.display_name}}
    </span>
    <form class="profile__form">
        {{>input disabled="true" placeholder=Email value=@root.email name="email" title="Email" }}
        {{>input disabled="true" placeholder=Логин value=@root.login  name="login" title="Логин" }}
        {{>input disabled="true" placeholder=Имя value=@root.first_name  name="first_name" title="Имя" }}
        {{>input disabled="true" placeholder=Фамилия value=@root.second_name  name="second_name" title="Фамилия" }}
        {{>input disabled="true" placeholder='Имя в чате' value=@root.display_name name="display_name" title="Имя в чате" }}
        {{>input disabled="true" placeholder=Телефон value=@root.phone  name="phone" type="tel" title="Телефон" }}
        {{>input disabled="true" placeholder=Пароль value=@root.password placeholder=@root.password name="password" type="password" title="Пароль" }}
        {{#>btn class="default profile__btn profile__btn_data"}}
          Изменить данные
        {{/btn}}
    </form>
        {{#>btn class="default profile__btn profile__btn_password"}}
            Изменить пароль
        {{/btn}}
        {{#>btn href="/chat" class="link profile__btn profile__btn_back"}}
            Назад
        {{/btn}}
</div>
{{/modal}}
${loadFileTmp}
${changePassTmp}
`;
