.modal {
  display: flex;
  height: 85%;
  align-items: center;
  justify-content: center;
  &__inner {
    background-color: #fff;
    min-width: 340px;
    .wrapper-mixin();
    padding: 30px;
  }
}
