import "../../components/index";

export default `
{{#>modal}}
<div class="registration">
    <span class="registration__title">
        Регистрация аккаунта
    </span>
    <form action="#" class="registration__form">
        {{>input placeholder="Email" title="Email" name="email" }}
        {{>input placeholder="Логин" title="Логин" name="login" }}
        {{>input placeholder="Имя" name="display_name" title="Имя" }}
        {{>input placeholder="Фамилия"  name="second_name" title="Фамилия" }}
        {{>input placeholder="Телефон" name="phone" type="tel" title="Телефон" }}
        {{>input placeholder="Пароль" name="password" type="password" title="Пароль" }}
        {{>input placeholder="Повторите пароль" name="password" type="password" title="Повторите пароль" }}
        {{#>btn arrow=true type='submit' class="primary registration__btn registration__btn_login"}}
        Зарегистрироваться
        {{/btn}}
    </form>
    <div class="registration__footer">
        <span class="registration__text">
            Есть аккаунт?
        </span>
        {{#>btn href="/" class="link registration__btn registration__btn_enter"}}
            Войти
        {{/btn}}
    </div>
</div>
{{/modal}}
`;
