import "../../components/index";
import getImageUrl from "../../utils/getImg.js"

export default `
{{#> modal}}
<div class="login">
    <img src=${getImageUrl("logo-mini.png")} alt="лого мессенджера">
    <form class="login__form">
        {{>input placeholder="login" name="login" class="login__input login__input-login" }}
        {{>input placeholder="Пароль" type="password" name="password" class="login__input login__input-password"  }}
        {{#>btn arrow=true type='submit' class="primary login__btn login__btn_enter"}}
        Войти
        {{/btn}}
    </form>
    <div class="login__footer">
        <span class="login__text">
            Нет аккаунта?
        </span>
        {{#>btn class="link login__btn login__btn_create" href="/create"}}
        Создать
        {{/btn}}
    </div>
</div>
{{/modal}}
`;
