import "../../components/index";

export default `
<nav class="navigation">
    <ul class="navigation__list">
        <li class="navigation__item">
            {{#>btn href="/auth" class="link navigation__link navigation__link-auth"}}
          Авторизация
            {{/btn}}
        </li>
        <li class="navigation__item">
            {{#>btn href="/profile" class="link navigation__link navigation__link-profile"}}
            Профиль
            {{/btn}}

        </li>
        <li class="navigation__item">
            {{#>btn href="/chat" class="link navigation__link navigation__link-chat"}}
            Чат
            {{/btn}}

        </li>
        <li class="navigation__item">
            {{#>btn href="/registration" class="link navigation__link navigation__link-registration"}}
            Регистрация
            {{/btn}}
        </li>
        <li class="navigation__item">
            {{#>btn href="/notFound" class="link navigation__link navigation__link-notFound"}}
            404
            {{/btn}}
        </li>
           <li class="navigation__item">
            {{#>btn href="/noAccess" class="link navigation__link navigation__link-noAccess"}}
            505
            {{/btn}}
        </li>

    </ul>
</nav>
`