extends ../modal/index.pug
include ../input/index.pug
include ../img/index.pug
block content
    .login
        +img("../../img/logo-mini.png", "login__logo", 150)
        +input("Email")
        +input("Пароль", "password")
        +button("primary", "login__btn login__btn_enter", true) Войти
        .login__footer
            span.login__text Нет аккунта?
            +button("link", "login__btn login__btn_create") Создать

