doctype html
html(lang='ru-Ru')
   include ./head/_head
body
    include ../components/header/_index
    include ../components/profileModal/index.pug
    include ../components/loginModal/index.pug
    include ../components/registrationModal/index.pug
    include ../components/changePassModal/index.pug
    include ../components/loadFileModal/index.pug
    script(src="../main.js") 